.time-filter {
    padding: 10px 20px;
    background-color: #1e2c5f;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.time-filter.active {
    background-color: #2f833a;
    color: white;
}

.statistics-item.parked {
    border: 2px solid red;  /* Roter Rahmen für ausgeblendete Divs */
    opacity: 0.6;  /* Leichte Transparenz für visuelles Feedback */
}

/* Styles für den Parkbereich */
#hidden-items {
    display: none;  /* Parkbereich wird nur im Editiermodus sichtbar */
    margin-top: 20px;
    padding: 10px;
    border: 2px dashed red;  /* Rot gestrichelte Umrandung */
}

/* Editierbare Divs im Editiermodus hervorheben */
.editable {
    border: 2px dashed rgb(167, 167, 167);
}

.toggle-visibility-btn {
    display: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle-visibility-btn.parked {
    background-color: #36f44f;
    color: black;
}