{% extends "base.html" %}
{% block content %}
<div class="col-span-12 lg:col-span-12 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
    <h2>Filter by time</h2>
    <div>
        <button class="time-filter" data-range="24hrs">24 Hours</button>
        <button class="time-filter" data-range="7d">7 Days</button>
        <button class="time-filter" data-range="30d">30 Days</button>
        <button class="time-filter" data-range="max">Max</button>
    </div>
</div>
<div class="col-span-12 lg:col-span-12">
    <div id="statistics-content" class="grid grid-cols-12 gap-4"></div>
</div>

<script nonce="{{ script_nonce }}">
    document.querySelectorAll('.time-filter').forEach(button => {
        button.addEventListener('click', function() {
            const range = this.getAttribute('data-range');
            fetchStatistics(range);
        });
    });

    // Initiales Laden der Daten (standardmäßig "max")
    fetchStatistics('max');

    function fetchStatistics(range) {
        fetch(`{{ url_for('statistics') }}/data?range=${range}`)
            .then(response => response.json())
            .then(data => renderStatistics(data))
            .catch(error => console.error('Error fetching data:', error));
    }

    function renderStatistics(data) {
        // Container leeren
        const content = document.getElementById('statistics-content');
        content.innerHTML = '';

        // Dynamisch Daten anzeigen
        content.innerHTML += `
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>Total requests</h4>
                <strong>${data.total_requests}</strong>
            </div>
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>4xx Error</h4>
                <strong>${data.requests_4xx_percent}%</strong>
            </div>
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>5xx Error</h4>
                <strong>${data.requests_5xx_percent}%</strong>
            </div>
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>Unique IPs</h4>
                <strong>${data.unique_ips}</strong>
            </div>
        `;

        let _hosts = '<div class="col-span-6 lg:col-span-6 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h3>Popular hosts_stats</h3>';
        data.top_hosts.slice(0, 5).forEach(([host, count]) => {
            const percentage = (count / data.total_requests) * 100;
            _hosts += `
                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="font-size: 14px;">${host}</div>
                            <div style="font-size: 14px; font-weight: bold;">${count}</div>
                        </div>
                        <div style="background-color: #67748e; border-radius: 5px; height: 10px; position: relative; margin-top: 5px;">
                            <div style="height: 100%; background-color: #f6bf42; border-radius: 5px; width: ${percentage}%;"></div>
                        </div>
                    </div>
            `;
        });
        _hosts += '</div>';
        content.innerHTML += _hosts;

        let _uas = '<div class="col-span-6 lg:col-span-6 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h3>Top User Agents</h3>';
        data.top_user_agents.slice(0, 5).forEach(([ua, count]) => {
            const percentage = (count / data.total_requests) * 100;
            _uas += `
                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="font-size: 14px;">${ua}</div>
                            <div style="font-size: 14px; font-weight: bold;">${count}</div>
                        </div>
                        <div style="background-color: #67748e; border-radius: 5px; height: 10px; position: relative; margin-top: 5px;">
                            <div style="height: 100%; background-color: #f64279; border-radius: 5px; width: ${percentage}%;"></div>
                        </div>
                    </div>
            `;
        });
        _uas += '</div>';
        content.innerHTML += _uas;
    }
</script>
{% endblock content %}