{% extends "base.html" %}
{% block content %}
<div class="col-span-12 lg:col-span-12 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
    <div id="update-indicator">
        <svg width="32" height="32" viewBox="0 0 32 32" style="margin-right: 10px;transform: rotateY(-180deg) rotateZ(-90deg)">
            <circle cx="16" cy="16" r="14" stroke="#4BC0C0" stroke-width="3" fill="none" stroke-dasharray="88" stroke-dashoffset="88"></circle>
        </svg>
        <button class="time-filter" data-range="1hr">1 Hour</button>
        <button class="time-filter" data-range="24hrs">24 Hours</button>
        <button class="time-filter" data-range="7d">7 Days</button>
        <button class="time-filter" data-range="30d">30 Days</button>
        <button class="time-filter active" data-range="max">Max</button>
    </div>
</div>

<div class="col-span-12 lg:col-span-12">
    <div id="statistics-content" class="grid grid-cols-12 gap-4"></div>
</div>

<script nonce="{{ script_nonce }}">
    let updateInterval = 60;  // Update-Intervall (in Sekunden)
    let timeLeft = updateInterval;  // Zeit bis zur nächsten Aktualisierung
    let activeRange = 'max';  // Standardmäßig 24 Stunden als ausgewählter Filter
    let timer;  // Referenz für das setInterval

    document.querySelectorAll('.time-filter').forEach(button => {
        button.addEventListener('click', function() {
            // Filter-Auswahl visuell hervorheben
            document.querySelectorAll('.time-filter').forEach(btn => btn.classList.remove('active'));
            this.classList.add('active');
            activeRange = this.getAttribute('data-range');

            // Daten sofort neu laden und Timer zurücksetzen
            resetTimer();
            fetchStatistics(activeRange);
        });
    });

    // Initiales Laden der Daten (standardmäßig "max")
    fetchStatistics('max');

    // Datenabruf-Funktion
    function fetchStatistics(range) {
        fetch(`{{ url_for('statistics') }}/data?range=${range}`)
            .then(response => response.json())
            .then(data => renderStatistics(data))
            .catch(error => console.error('Error fetching data:', error));
    }

    // Funktion zur Darstellung der Statistikdaten
    function renderStatistics(data) {
        // Container leeren
        const content = document.getElementById('statistics-content');
        content.innerHTML = '';

        // Dynamisch Daten anzeigen
        content.innerHTML += `
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>Total requests</h4>
                <strong>${data.total_requests}</strong>
            </div>
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>4xx Error</h4>
                <strong>${data.requests_4xx_percent}%</strong>
            </div>
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>5xx Error</h4>
                <strong>${data.requests_5xx_percent}%</strong>
            </div>
            <div class="col-span-3 lg:col-span-3 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl">
                <h4>Unique IPs</h4>
                <strong>${data.unique_ips}</strong>
            </div>
        `;

        let _hosts = '<div class="col-span-6 lg:col-span-6 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h4>Popular hosts</h4>';
        data.hosts.slice(0, 5).forEach(([host, count]) => {
            const percentage = (count / data.total_requests) * 100;
            _hosts += `
                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="font-size: 14px;">${host}</div>
                            <div style="font-size: 14px; font-weight: bold;">${count}</div>
                        </div>
                        <div style="background-color: #67748e; border-radius: 5px; height: 10px; position: relative; margin-top: 5px;">
                            <div style="height: 100%; background-color: #f6bf42; border-radius: 5px; width: ${percentage}%;"></div>
                        </div>
                    </div>
            `;
        });
        _hosts += '</div>';
        content.innerHTML += _hosts;

        let _uas = '<div class="col-span-6 lg:col-span-6 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h4>Top User Agents</h4>';
        data.user_agents.slice(0, 5).forEach(([ua, count]) => {
            const percentage = (count / data.total_requests) * 100;
            _uas += `
                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="font-size: 14px;">${ua}</div>
                            <div style="font-size: 14px; font-weight: bold;">${count}</div>
                        </div>
                        <div style="background-color: #67748e; border-radius: 5px; height: 10px; position: relative; margin-top: 5px;">
                            <div style="height: 100%; background-color: #f64279; border-radius: 5px; width: ${percentage}%;"></div>
                        </div>
                    </div>
            `;
        });
        _uas += '</div>';
        content.innerHTML += _uas;

        let _countries = '<div class="col-span-6 lg:col-span-6 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h4>Top Countries</h4>';
        data.countries.slice(0, 5).forEach(([ctry, count]) => {
            const percentage = (count / data.total_requests) * 100;
            _countries += `
                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="font-size: 14px;">${ctry}</div>
                            <div style="font-size: 14px; font-weight: bold;">${count}</div>
                        </div>
                        <div style="background-color: #67748e; border-radius: 5px; height: 10px; position: relative; margin-top: 5px;">
                            <div style="height: 100%; background-color: #42f6bf; border-radius: 5px; width: ${percentage}%;"></div>
                        </div>
                    </div>
            `;
        });
        _countries += '</div>';
        content.innerHTML += _countries;

        let _asn = '<div class="col-span-6 lg:col-span-6 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h4>Top ASN</h4>';
        data.asns.slice(0, 5).forEach(([asn, count]) => {
            const percentage = (count / data.total_requests) * 100;
            _asn += `
                    <div style="margin-bottom: 20px;">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="font-size: 14px;">${asn}</div>
                            <div style="font-size: 14px; font-weight: bold;">${count}</div>
                        </div>
                        <div style="background-color: #67748e; border-radius: 5px; height: 10px; position: relative; margin-top: 5px;">
                            <div style="height: 100%; background-color: #4279f6; border-radius: 5px; width: ${percentage}%;"></div>
                        </div>
                    </div>
            `;
        });
        _asn += '</div>';
        content.innerHTML += _asn;

        content.innerHTML += '<div class="col-span-12 lg:col-span-12 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h4>Requests over Time</h4><canvas id="requestTimelineChart"></canvas></div>';

        content.innerHTML += '<div class="col-span-4 lg:col-span-4 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h4>Status Codes</h4><canvas id="statusCodesChart"></canvas></div>';
        content.innerHTML += '<div class="col-span-4 lg:col-span-4 p-4 w-full bg-white dark:bg-slate-850 shadow-md rounded-2xl"><h4>Top IPs</h4><canvas id="topIPsChart"></canvas></div>';
        
        new Chart(document.getElementById('statusCodesChart'), {
            type: 'doughnut',
            data: {
                labels: data.status_codes.map((x) => x[0]),
                datasets: [{
                    label: 'Status-Codes',
                    data: data.status_codes.map((x) => x[1]),
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        new Chart(document.getElementById('topIPsChart'), {
            type: 'doughnut',
            data: {
                labels: data.ips.slice(0, 5).map((x) => x[0]),
                datasets: [{
                    label: 'Top IPs',
                    data: data.ips.slice(0, 5).map((x) => x[1]),
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });

        const ctx = document.getElementById('requestTimelineChart').getContext('2d');
        const labels = data.request_timeline.map(item => item[0]);  // Zeitpunkte
        const values = data.request_timeline.map(item => item[1]);  // Anzahl der Requests

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,  // Zeitachsen
                datasets: [{
                    label: 'Number of Requests',
                    data: values,  // Anzahl der Requests pro Zeitintervall
                    fill: false,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    tension: 0.1  // Glatte Kurvenlinie
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Time'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Requests'
                        },
                        beginAtZero: true
                    }
                }
            }
        });
    }

    // Funktion zum Zurücksetzen des Timers
    function resetTimer() {
        clearInterval(timer);  // Aktuellen Timer stoppen
        timeLeft = updateInterval;  // Timer auf Ausgangszeit zurücksetzen
        startTimer();  // Timer erneut starten
    }

    // Timer-Logik
    function startTimer() {
        timer = setInterval(updateTimer, 1000);  // Jede Sekunde aktualisieren
    }

    // Aktualisierungsfunktion und Timer-Logik
    function updateTimer() {
        const circle = document.querySelector('#update-indicator circle');
        const dashArray = 88;  // Voller Umfang des Kreises
        const dashOffset = (1 - (timeLeft / updateInterval)) * dashArray;
        circle.style.strokeDashoffset = dashOffset;

        timeLeft--;

        if (timeLeft == 0) {
            timeLeft = updateInterval;
            fetchStatistics(activeRange);  // Daten neu laden
        }
    }

    // Starte den Timer nach dem Initialen Laden
    startTimer();
</script>
{% endblock content %}